.lockdown-notif {
    border-left: 5px solid var(--grad-one);
    border-radius: 5px;
    & .astraNotificationLoadbar {
        height: 100%;
        opacity: 0.2;
        background-image: linear-gradient(130deg, var(--grad-one), var(--notifications-background-color));
    }
}

.lockdown-modal-container {
    pointer-events: none;
    user-select: none;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--background-floating);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    & .focusLock-Ns3yie[role="dialog"] {
        flex: auto;
    }
    z-index: 10;
}
