.lockdown-modal-container {
    pointer-events: none;
    user-select: none;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--background-floating);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    & .focusLock-Ns3yie[role="dialog"] {
        flex: auto;
    }
    z-index: 10;
}

.lockdown-newusermodal-stepcounter {
    justify-self: end;
}
